*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
html,body{
  height: 100%;
  width: 100%;
  background-color: black;
}
.cursor{
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  font-size: 3px;
  text-align: center;
  font-weight: bold;
  justify-content: center;
  display: flex;
  align-items: center;
  z-index: 1;
}
.image{
  height: 45%;
  width: 50%;
  
  position: relative;
  
}
img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}
.banner{
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: transparent;
  z-index: 9;
}