*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

html,body{
  height: 100%;
  width: 100%;
  
}
body{
 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5vw;
  font-family: 'gilroy';
  overflow-y: none;
  background-color: black;
  color: white;
}
h1 span{
  display: inline-block;
}